Source: soapyairspyhf
Section: libs
Priority: optional
Maintainer: Christian W. Zuckschwerdt <zany@triq.net>
Build-Depends:
    debhelper,
    cmake,
    libairspyhf-dev,
    libsoapysdr-dev
Standards-Version: 4.5.0
Homepage: https://github.com/pothosware/SoapyAirspyHF/wiki
Vcs-Git: https://github.com/pothosware/SoapyAirspyHF.git
Vcs-Browser: https://github.com/pothosware/SoapyAirspyHF

Package: soapysdr0.9-module-airspyhf
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Soapy AirspyHF - AirspyHF device support for Soapy SDR.
 A Soapy module that supports AirspyHF devices within the Soapy API.

Package: soapysdr-module-airspyhf
Architecture: all
Depends: soapysdr0.9-module-airspyhf, ${misc:Depends}
Description: Soapy AirspyHF - AirspyHF device support for Soapy SDR.
 A Soapy module that supports AirspyHF devices within the Soapy API.
 .
 This is an empty dependency package that pulls in the AirspyHF module
 for the default version of libsoapysdr.
